allow from all
#<IfModule mod_rewrite.c>
#    RewriteEngine On
##    RewriteBase /favoris/
#    RewriteRule ^manager/(.*) manager/$1 [L]
#    RewriteRule ^images/(.*) www/images/$1 [L]
#    RewriteRule ^asset/(.*) www/asset/$1 [L]
#    RewriteRule ^(.*)$ index.php?jpathinfo=/$1 [L,QSA]
#</IfModule>
