<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="http://jelix.org/ns/module/1.0">
    <info id="blognumerikasa" name="blog" createdate="2015-05-08">
        <version date="2015-05-08">0.1pre</version>
        <label lang="en_US">blog</label>
        <description lang="en_US" />
        <license URL="">All rights reserved</license>
        <copyright>2015 NUMERIKA GROUP</copyright>
        <creator name="your name" email="your-email@yourwebsite.undefined" active="true"/>
        <!--<contributor name="hisname" email="hisemail@yoursite.undefined" active="true" since="" role=""/>-->
        <homepageURL>http://www.numerika-group.com </homepageURL>
    </info>
    <dependencies>
        <jelix minversion="1.6.3" maxversion="1.6.*"/>
    </dependencies>
</module>
