<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="http://jelix.org/ns/module/1.0">
    <info id="visiteyourwebsite.undefined" name="visite" createdate="2015-07-29">
        <version date="2015-07-29">1.0</version>
        <label lang="en_US">visite medicale</label>
        <description lang="en_US" />
        <license URL="">All rights reserved</license>
        <copyright>2015 BOS</copyright>
        <creator name="your name" email="your-email@yourwebsite.undefined" active="true"/>
        <!--<contributor name="hisname" email="hisemail@yoursite.undefined" active="true" since="" role=""/>-->
        <homepageURL>http://www.yourwebsite.undefined</homepageURL>
    </info>
    <dependencies>
        <jelix minversion="1.6.3" maxversion="1.6.*"/>
    </dependencies>
</module>
